html {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header {
  font-size: 18px;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.origin {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

.copyright {
  font-size: 11px;
}

.navigation {
  text-align: left;
  color: white;
  background-color: dimgray;
}
